/* Add name of style in any HTML tag's attribute */
.btnv1{ /*btnv1...*/
    display: flex;
    font-family: system;
    width: fit-content;
    padding: 1px 6px;
    margin: 2px 3px;
    cursor: pointer;
    color: black;
    background: linear-gradient(#e2e2e2,white);
    border-radius: 3px;
    border: 1.5px #858585;
    border-style: solid;
    align-self: center;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.btnv1:active{
    border-style: outset;
    background: white;
}
.btnv1:hover{
    box-shadow: 0px 0px 1px black;
    background: linear-gradient(#e2e2e2,rgb(230, 230, 230));
}
.btnv1:focus-visible{
    outline: -webkit-focus-ring-color auto 1px;
}
.btnv1:focus{
    outline: -webkit-focus-ring-color auto 1px;
}
.btnv2{ /*btnv2...*/
    display: flex;
    font-family: system;
    width: fit-content;
    padding: 1px 6px;
    margin: 2px 3px;
    cursor: pointer;
    color: white;
    background: linear-gradient(90deg,#000000,#3a0000);
    border-radius: 3px;
    border: 1.5px #858585;
    border-style: solid;
    align-self: center;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.btnv2:active{
    border: 2px inset red;
    background: #2a0000;
    margin: 1.5px 0px;
}
.btnv2:hover{
    box-shadow: 0px 0px 2px rgb(0, 255, 13);
    background: linear-gradient(90deg,#3a0000,#000000);
}
.btnv2:focus-visible{
    outline: -webkit-focus-ring-color auto 1px;
}
.btnv2:focus{
    outline: -webkit-focus-ring-color auto 1px;
}
.disable{ /*disable...*/
    cursor: not-allowed;
    opacity: 50%;
}
.disable:hover{
    background: darkred;
}
.null{ /*null...*/
    display: none;
}
.checkbox{ /*checkbox...*/
    width: 11px;
    height: 11px;
    display: -webkit-inline-box;
    display: inline-block;
    width: 11px;
    height: 11px;
    color: #000000;
    background: white;
    border: 1px solid #7a7a7a;
    border-radius: 2px;
    overflow: visible;
    margin: auto 3px;
    cursor: pointer;
    padding: 0px 0px 0px 0px;
    line-height: 12px;
    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
}
/* float... */
.f-right{
    float: right;
}
.f-left{
    float: left;
}
.f-inline-end{
    float: inline-end;
}
.f-inline-start{
    float: inline-start;
}
.f-inherit{
    float: inherit;
}
.f-inherit{
    float: initial;
}
.f-unset{
    float: unset;
}
/* visibility... */
.hide{
    visibility: hidden;
}
.hidden{
    visibility: hidden;
}
.collapse{
    visibility: collapse;
}
.visible{
    visibility: visible;
}
.inherit{
    visibility: inherit;
}
.initial{
    visibility: initial;
}
.unset{
    visibility: unset;
}
/* overlay... */
#fix-overlay{
    display: flex;
    background-color: rgba(0, 0, 0, 0.452);
    color: white;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
#fix-overlay-ctrl{
    font-weight: bold;
    color: black;
    font-size: 20px;
    cursor: not-allowed;
}
/* footer ad... */
#custom-footer-ad{
    background: white;
    border-radius: 0px 5px 0px 0px;
    box-shadow: 0px 0px 5px black;
    transition: 1s;
}
#custom-footer-adhere{
    background-image: url(https://mnzrch.github.io/SkytoSeeTools/assests/loadingicon.ani);
    background-image: url(./assests/loadingicon.ani);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
}
#custom-footer-ctrl{
    position: fixed;
    margin: -20px 0px 0px 0px;
    padding: 1px 0px 5px 0px;
    font-weight: bold;
    color: black;
    background: white;
    width: 40px;
    text-align: center;
    -webkit-text-stroke: thick;
    cursor: not-allowed;
    border-radius: 5px 5px 0px 0px;
}
#custom-footer-ctrl-shadow{
    position: fixed;
    background: white;
    width: 40px;
    height: 19px;
    margin: -18px 0px 0px -1px;
    box-shadow: 2px -2px 5px black;
    border-radius: 5px 5px 0px 0px;
}
@media (max-width: 400px) {
    #custom-footer-ad{
        overflow-y: auto;
    }
}
/* Tag list... */
.custom-tag-list{
    position: fixed;
    display: block;
    margin: 5px;
    left: 0;
    top: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.247);
    border: 3px groove red;
    width: fit-content;
    min-width: 162px;
    height: -webkit-fill-available;
    min-height: 32px;
    resize: both;
    visibility: hidden;
}
.custom-tag-list .listitem{
    display: block;
    text-align: center;
    background: black;
    color: red;
    padding: 0px 5px 5px 5px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    border-radius: 3px;
}
.custom-tag-list .listitem:focus{
    outline: 2px ridge #00ff72;
}
.custom-tag-list-ctrl{
    display: flex;
    padding: 1px;
    background: black;
    justify-content: flex-end;
    align-items: center;
}
.custom-tag-list-ctrl img{
    width: 25px;
}
.custom-tag-list-content{
    display: flex;
    flex-direction: column;
    background: white;
    overflow-y: scroll;
}
/* notic... */
.not-icon{
    margin-left: 10px;
}
.not-icon::before{
    display: flex;
    position: absolute;
    content: '!';
    font-weight: bold;
    margin: -18px 0px 0px -10px;
    color: red;
    background: black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px #1b00ff;
    border: 1px solid white;
    -webkit-text-stroke: thin;
}
/* lll slider... */
.lll-slider{
    background-color: white;
    border: 5px solid #830000;
    border-left-color: #000000;
    border-right-color: darkred;
    min-width: 240px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    font-size: 13px;
    line-height: initial;
}
.lll-slider-header{
    display: flex;
    position: absolute;
    color: white;
    background: linear-gradient(90deg, black, darkred);
    width: auto;
    height: 15px;
    margin-left: -5px;
    padding: 5px;
    justify-content: space-between;
}
.lll-slider-header-mono{
    display: flex;
    justify-content: center;
}
.lll-slider-header-dot{
    display: inline-block;
    display: -webkit-inline-box;
	width: 10px !important;
	height: 10px !important;
	min-width: 10px !important;
	min-height: 10px !important;
	max-width: 10px !important;
	max-height: 10px !important;
    margin: 0px 5px;
	border-radius: 50%;
}
.lll-slider-header-title{
    overflow: hidden;
    white-space: nowrap;
}
.lll-slider-ctrlpnl{
    position: relative;
    color: #000000;
    background-color: white;
    width: max-content;
    height: max-content;
    z-index: 105;
    padding: 5px;
    margin: -3px -3px 0px 0px;
    border: 1px solid black;
    overflow: hidden;
}
.lll-slider-ctrlpnl-header{
    position: relative;
    color: red;
    background: linear-gradient(black,gray);
    padding: 2px 3px;
    font-weight: bold;
    margin: -5px -5px 0px -5px;
    z-index: 105;
}
.lll-slider-ctrlpnl-header span{
    cursor: pointer;
}
.lll-slider-ctrlpnl-content{
    position: relative;
    transition: 1s;
    overflow: hidden;
    height: auto;
    margin-top: 0px;
    z-index: 104;
}
.lll-slider-ctrlpnl-content>div{
    display: flex;
    justify-content: space-between;
}
#nextplay{
    width: 30px;
    height: 10px;
}
#transition{
    width: 30px;
    height: 10px;
}
#ctrlpnl-note{
    overflow: hidden;
    width: 0px;
}
.lll-slider-img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 1s;
    margin-left: calc(-100% * 0);
}
.lll-slider-imgwrap{
	margin: 5px;
    background-size: cover;
}
.lll-slider-bulitwrap{
    overflow: hidden;
    margin: 0px 5px;
    padding: 5px;
}
.lll-slider-bulit{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    align-items: end;
    position: relative;
    z-index: 100;
    height: 60px;
    overflow: hidden;
    visibility: hidden;
    padding: 5px 120px;
}
.lll-slider-bulit>img{
    margin: 5px;
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
    cursor: pointer;
    outline: auto;
    transition: 0.5s;
    z-index: 101;
    opacity: 0.5;
}
.lll-slider-bulit>img:hover{
    outline: 1px groove;
    transform: matrix3d(5, 0, 0, 0, 0, 5, 0, 0, 0, 0, 1, 0, 0, -125, 0, 1);
    margin: 0 -37px;
    min-inline-size: min-content;
    z-index: 102;
    opacity: 1;
}
.lll-slider-bulit>img:focus{
    opacity: 1;
    transform: translate(0px, -10px);
}
.lll-slider-bulit>img:focus-visible{
    opacity: 1;
    transform: translate(0px, -10px);
}
.lll-slider-bulit>img:focus-within{
    opacity: 1;
    transform: translate(0px, -10px);
}
.lll-slider-ctrl>img{
    cursor: pointer;
    opacity: 0.5;
    z-index: 101;
}
.lll-slider-ctrl>img:hover{
    opacity: 1;
}
.lll-slider-ctrl>img:active{
    background: #00fff338;
    border-radius: 5px;
}
.lll-slider-Copyright{
    position: absolute;
    color: black;
    font-weight: bold;
    text-shadow: 2px 2px 3px red, -2px -2px 3px #10ff00, 0px 0px 3px white;
    margin-top: -65px;
    font-size: x-large;
    text-align: center;
    line-height: 30px;
}
.lll-slider-Copyright>a{
    letter-spacing: 1px;
    outline-style: auto;
    border: ridge;
    font-variant: petite-caps;
    padding: 0px 3px;
    transition: 0.5s;
}
.lll-slider-Copyright>a:hover{
    background-color: white;
}
@media (max-width: 950px) {
    .lll-slider-bulit{
        padding: 5px 115px;
    }
    .lll-slider-bulit>img{
        width: 40px;
        height: 40px;
        max-width: 40px;
        max-height: 40px;
        min-width: 40px;
        min-height: 40px;
    }
    .lll-slider-bulit>img:hover{
        transform: matrix3d(4, 0, 0, 0, 0, 4, 0, 0, 0, 0, 1, 0, 0, -100, 0, 1);
        margin: 0 -32px;
    }
    .lll-slider-ctrl>img{
        width: 40px;
    }
}
@media (max-width: 850px) {
    .lll-slider-bulit{
        padding: 5px 95px;
    }
    .lll-slider-bulit>img{
        width: 35px;
        height: 35px;
        max-width: 35px;
        max-height: 35px;
        min-width: 35px;
        min-height: 35px;
    }
    .lll-slider-bulit>img:hover{
        transform: matrix3d(3.5, 0, 0, 0, 0, 3.5, 0, 0, 0, 0, 1, 0, 0, -75, 0, 1);
        margin: 0 -24px;
    }
    .lll-slider-ctrl>img{
        width: 35px;
    }
}
@media (max-width: 750px) {
    .lll-slider-bulit{
        padding: 5px 90px;
    }
    .lll-slider-bulit>img{
        width: 32px;
        height: 32px;
        max-width: 32px;
        max-height: 32px;
        min-width: 32px;
        min-height: 32px;
    }
    .lll-slider-bulit>img:hover{
        transform: matrix3d(3.5, 0, 0, 0, 0, 3.5, 0, 0, 0, 0, 1, 0, 0, -75, 0, 1);
        margin: 0 -24px;
    }
    .lll-slider-ctrl>img{
        width: 32px;
    }
}
@media (max-width: 700px) {
    .lll-slider-bulit{
        padding: 5px 85px;
    }
    .lll-slider-bulit>img{
        width: 30px;
        height: 30px;
        max-width: 30px;
        max-height: 30px;
        min-width: 30px;
        min-height: 30px;
    }
    .lll-slider-bulit>img:hover{
        transform: matrix3d(3, 0, 0, 0, 0, 3, 0, 0, 0, 0, 1, 0, 0, -65, 0, 1);
        margin: 0 -23px;
    }
    .lll-slider-ctrl>img{
        width: 30px;
    }
}
@media (max-width: 600px) {
    .lll-slider-bulit{
        padding: 5px 80px;
    }
    .lll-slider-bulit>img{
        width: 28px;
        height: 28px;
        max-width: 28px;
        max-height: 28px;
        min-width: 28px;
        min-height: 28px;
    }
    .lll-slider-bulit>img:hover{
        transform: matrix3d(2.5, 0, 0, 0, 0, 2.5, 0, 0, 0, 0, 1, 0, 0, -50, 0, 1);
        margin: 0 -23px;
    }
    .lll-slider-ctrl>img{
        width: 28px;
    }
}
@media (max-width: 500px) {
    .lll-slider-bulit{
        padding: 5px 75px;
    }
    .lll-slider-bulit>img{
        width: 25px;
        height: 25px;
        max-width: 25px;
        max-height: 25px;
        min-width: 25px;
        min-height: 25px;
    }
    .lll-slider-bulit>img:hover{
        transform: matrix3d(2.3, 0, 0, 0, 0, 2.3, 0, 0, 0, 0, 1, 0, 0, -45, 0, 1);
        margin: 0 -20px;
    }
    .lll-slider-ctrl>img{
        width: 25px;
    }
}
@media (max-width: 400px) {
    .lll-slider-bulit{
        padding: 5px 60px;
    }
    .lll-slider-bulit>img{
        width: 20px;
        height: 20px;
        max-width: 20px;
        max-height: 20px;
        min-width: 20px;
        min-height: 20px;
    }
    .lll-slider-bulit>img:hover{
        transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, -35, 0, 1);
        margin: 0 -16px;
    }
    .lll-slider-ctrl>img{
        width: 20px;
    }
    .lll-slider-Copyright{
        position: absolute;
        color: black;
        font-weight: bold;
        text-shadow: 1px 1px 1.5px red, -1px -1px 1.5px #10ff00, 0px 0px 1.5px white;
        margin-top: -55px;
        font-size: large;
        text-align: center;
        line-height: 25px;
    }
    .lll-slider-Copyright>a{
        letter-spacing: 1px;
        padding: 0px 2px;
    }
}
@media (max-width: 350px) {
    .lll-slider-bulit{
        visibility: hidden;
    }
    .lll-slider-ctrl>img{
        width: 15px;
    }
}
/* content-list... */
.content-list{
    background-color: white;
    color: black;
    max-width: 800px;
    min-width: 300px;
    height: fit-content;
    margin: 12px;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 3px;
    box-shadow: -1px -1px 3px 2px red, 1px 1px 3px 2px #10ff00;
    overflow: hidden;
    text-align: left;
}
.content-list-head{
    color: white;
    background: linear-gradient(216deg, #6c0000,#2e0000);
    padding: 5px;
    font-family: monospace;
}
.content-list-head::placeholder{
    border: inset;
}
.content-list-header{
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 20px);
    text-shadow: -1px -1px 2px #00ff43, 1px 1px 2px #fbff00;
}
.content-list-ctrl{
    cursor: pointer;
    float: right;
}
.content-list-content{
    overflow: hidden;
    height: 0px;
    padding: 0px;
    background-color: #e1e1e1;
    box-shadow: inset 0px 0px 5px 2px gray;
}
/* custom Lists... */
sl{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
sl>li{
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: '';
}
sl>li::before{
    content: '✰';
    margin-left: -20px;
    padding-right: 5px;
}
wsl{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
wsl>li{
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: '';
}
wsl>li::before{
    content: '☆';
    margin-left: -20px;
    padding-right: 5px;
}
bsl{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
bsl>li{
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: '';
}
bsl>li::before{
    content: '★';
    margin-left: -20px;
    padding-right: 5px;
}
ql{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ql>li{
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: '';
}
ql>li::after{
    content: '?';
    padding-left: 2px;
}
qul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
qul>li{
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: disc;
    margin-left: -16px;
}
qul>li::before{
    content: '';
    margin-left: -5px;
}
qul>li::after{
    content: '?';
    padding-left: 2px;
}
qol{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
qol>li{
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: decimal;
    margin-left: -16px;
}
qul>li::before{
    content: '';
    margin-left: -5px;
}
qol>li::after{
    content: '?';
    padding-left: 2px;
}
el{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
el>li{
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: '';
}
el>li::after{
    content: '!';
    padding-left: 2px;
}
eul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
eul>li{
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: disc;
    margin-left: -16px;
}
eul>li::before{
    content: '';
    margin-left: -5px;
}
eul>li::after{
    content: '!';
    padding-left: 2px;
}
eol{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
eol>li{
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: decimal;
    margin-left: -16px;
}
eul>li::before{
    content: '';
    margin-left: -5px;
}
eol>li::after{
    content: '!';
    padding-left: 2px;
}
/* overflow... */
.of-auto{
    overflow: auto;
}
.of-hidden{
    overflow: hidden;
}
.of-inherit{
    overflow: inherit;
}
.of-initial{
    overflow: initial;
}
.of-scroll{
    overflow: scroll;
}
.of-unset{
    overflow: unset;
}
.of-visible{
    overflow: visible;
}
.of-overlay{
    overflow: overlay;
}
.of-revert{
    overflow: revert;
}
.ofx-auto{
    overflow-x: auto;
}
.ofx-hidden{
    overflow-x: hidden;
}
.ofx-inherit{
    overflow-x: inherit;
}
.ofx-initial{
    overflow-x: initial;
}
.ofx-scroll{
    overflow-x: scroll;
}
.ofx-unset{
    overflow-x: unset;
}
.ofx-visible{
    overflow-x: visible;
}
.ofx-overlay{
    overflow-x: overlay;
}
.ofx-revert{
    overflow-x: revert;
}
.ofx-clip{
    overflow-x: clip;
}
.ofy-auto{
    overflow-y: auto;
}
.ofy-hidden{
    overflow-y: hidden;
}
.ofy-inherit{
    overflow-y: inherit;
}
.ofy-initial{
    overflow-y: initial;
}
.ofy-scroll{
    overflow-y: scroll;
}
.ofy-unset{
    overflow-y: unset;
}
.ofy-visible{
    overflow-y: visible;
}
.ofy-overlay{
    overflow-y: overlay;
}
.ofy-revert{
    overflow-y: revert;
}
.ofy-clip{
    overflow-y: clip;
}
.ofa-auto{
    overflow-anchor: auto;
}
.ofa-inherit{
    overflow-anchor: inherit;
}
.ofa-initial{
    overflow-anchor: initial;
}
.ofa-unset{
    overflow-anchor: unset;
}
.ofa-visible{
    overflow-anchor: visible;
}
.ofa-revert{
    overflow-anchor: revert;
}
.ofw-anywhere{
    overflow-wrap: anywhere;
}
.ofw-breakword{
    overflow-wrap: break-word;
}
.ow-initial{
    overflow-wrap: initial;
}
.ow-inherit{
    overflow-wrap: inherit;
}
.ofw-normal{
    overflow-wrap: normal;
}
.ofw-unset{
    overflow-wrap: unset;
}
.ofw-revert{
    overflow-wrap: revert;
}
/* display... */
.dis-block{
    display: block;
}
.dis-flex{
    display: flex;
}
.dis-flexbox{
    display: flexbox;
}
.dis-grid{
    display: grid;
}
.dis-inline{
    display: inline;
}
.dis-none{
    display: none;
}
.dis-ruby{
    display: ruby;
}
.dis-table{
    display: table;
}
.dis-unset{
    display: unset;
}
/* cursor... */
.cursor-pointer{
    cursor: pointer;
}
.cursor-alias{
    cursor: alias;
}
.cursor-allscroll{
    cursor: all-scroll;
}
.cursor-auto{
    cursor: auto;
}
.cursor-notallowed{
    cursor: not-allowed;
}
.cursor-cell{
    cursor: cell;
}
.cursor-colresize{
    cursor: col-resize;
}
.cursor-contextmenu{
    cursor: context-menu;
}
.cursor-copy{
    cursor: copy;
}
.cursor-crosshair{
    cursor: crosshair;
}
.cursor-default{
    cursor: default;
}
.cursor-eresize{
    cursor: e-resize;
}
.cursor-ewresize{
    cursor: ew-resize;
}
.cursor-grab{
    cursor: grab;
}
.cursor-grabbing{
    cursor: grabbing;
}
.cursor-help{
    cursor: help;
}
.cursor-move{
    cursor: move;
}
.cursor-nresize{
    cursor: n-resize;
}
.cursor-neresize{
    cursor: ne-resize;
}
.cursor-nwseresize{
    cursor: nwse-resize;
}
.cursor-progress{
    cursor: progress;
}
.cursor-rowresize{
    cursor: row-resize;
}
.cursor-sresize{
    cursor: s-resize;
}
.cursor-seresize{
    cursor: se-resize;
}
.cursor-swresize{
    cursor: sw-resize;
}
.cursor-text{
    cursor: text;
}
.cursor-verticaltext{
    cursor: vertical-text;
}
.cursor-wresize{
    cursor: w-resize;
}
.cursor-wait{
    cursor: wait;
}
.cursor-zoomin{
    cursor: zoom-in;
}
.cursor-zoomout{
    cursor: zoom-out;
}
.cursor-unset{
    cursor: unset;
}
/* position... */
.fix{
    position: fixed;
}
.fixed{
    position: fixed;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.inherit{
    position: inherit;
}
.initial{
    position: initial;
}
.revert{
    position: revert;
}
.unset{
    position: unset;
}
/* justify-content... */
.jc-baseline{
    justify-content: baseline;
}
.jc-center{
    justify-content: center;
}
.jc-end{
    justify-content: end;
}
.jc-flexend{
    justify-content: flex-end;
}
.jc-flexstart{
    justify-content: flex-start;
}
.jc-inherit{
    justify-content: inherit;
}
.jc-initial{
    justify-content: initial;
}
.jc-left{
    justify-content: left;
}
.jc-right{
    justify-content: right;
}
.jc-revert{
    justify-content: revert;
}
.jc-unset{
    justify-content: unset;
}
.jc-spacearound{
    justify-content: space-around;
}
.jc-spacebetween{
    justify-content: space-between;
}
.jc-spaceevenly{
    justify-content: space-evenly;
}
/* align-content... */
.ac-baseline{
    align-content: baseline;
}
.ac-center{
    align-content: center;
}
.ac-end{
    align-content: end;
}
.ac-start{
    align-content: start;
}
.ac-flexend{
    align-content: flex-end;
}
.ac-flexstart{
    align-content: flex-start;
}
.ac-initial{
    align-content: initial;
}
.ac-inherit{
    align-content: inherit;
}
.ac-inherit{
    align-content: inherit;
}
.ac-stretch{
    align-content: stretch;
}
.ac-unset{
    align-content: unset;
}
.ac-revert{
    align-content: revert;
}
.ac-spacearound{
    align-content: space-around;
}
.ac-spacebetween{
    align-content: space-between;
}
.ac-spaceevenly{
    align-content: space-evenly;
}
/* align-item... */
.ai-baseline{
    align-items: baseline;
}
.ai-center{
    align-items: center;
}
.ai-end{
    align-items: end;
}
.ai-start{
    align-items: start;
}
.ai-flexend{
    align-items: flex-end;
}
.ai-flexstart{
    align-items: flex-start;
}
.ai-flexend{
    align-items: self-end;
}
.ai-flexend{
    align-items: self-start;
}
.ai-flexstart{
    align-items: flex-start;
}
.ai-stretch{
    align-items: stretch;
}
.ai-stretch{
    align-items: normal;
}
/* text-align... */
.t-center{
    text-align: center;
}
.t-start{
    text-align: start;
}
.t-end{
    text-align: end;
}
.t-left{
    text-align: left;
}
.t-right{
    text-align: right;
}
.t-justify{
    text-align: justify;
}
.t-inherit{
    text-align: inherit;
}
.t-initial{
    text-align: initial;
}
.t-unset{
    text-align: unset;
}
/* fonts... */
.f-serif{
    font-family: serif;
}
.f-sans-serif{
    font-family: sans-serif;
}
.f-Arial{
    font-family: Arial;
}
.f-Helvetica{
    font-family: Helvetica;
}
.f-apple-system{
    font-family: -apple-system;
}
.f-BlinkMacSystemFont{
    font-family: BlinkMacSystemFont;
}
.f-SegoeUI{
    font-family: Segoe UI;
}
.f-Roboto{
    font-family: Roboto;
}
.f-Oxygen{
    font-family: Oxygen;
}
.f-Ubuntu{
    font-family: Ubuntu;
}
.f-Cantarell{
    font-family: Cantarell;
}
.f-OpenSans{
    font-family: 'Open Sans';
}
.f-cursive{
    font-family: cursive;
}
.f-fantasy{
    font-family: fantasy;
}
.f-Georgia{
    font-family: Georgia;
}
.f-Geneva{
    font-family: Geneva;
}
.f-TimesNewRoman{
    font-family: 'Times New Roman';
}
.f-Times{
    font-family: Times;
}
.f-inherit{
    font-family: inherit;
}
.f-initial{
    font-family: initial;
}
.f-Impact{
    font-family: Impact;
}
.f-Haettenschweiler{
    font-family: Haettenschweiler;
}
.f-ArialNarrowBold{
    font-family: 'Arial Narrow Bold';
}
.f-LucidaSans{
    font-family: 'Lucida Sans';
}
.f-LucidaSansRegular{
    font-family: 'Lucida Sans Regular';
}
.f-LucidaGrande{
    font-family: 'Lucida Grande';
}
.f-LucidaSansUnicode{
    font-family: 'Lucida Sans Unicode';
}
.f-Verdana{
    font-family: Verdana;
}
.f-monospace{
    font-family: monospace;
}
.f-TrebuchetMS{
    font-family: 'Trebuchet MS';
}
.f-unset{
    font-family: unset;
}
.f-Tahoma{
    font-family: Tahoma;
}
/* fonts size... */
.fs-large{
    font-size: large;
}
.fs-larger{
    font-size: larger;
}
.fs-xlarge{
    font-size: x-large;
}
.fs-xlarge{
    font-size: xx-large;
}
.fs-medium{
    font-size: medium;
}
.fs-small{
    font-size: small;
}
.fs-smaller{
    font-size: smaller;
}
.fs-xsmall{
    font-size: x-small;
}
.fs-xsmall{
    font-size: xx-small;
}
/* Tags Type */
.tt-h1{
    display: block;
    font-size: xx-large;
    margin: 0.67em 0;
    font-weight: bold;
}
.tt-h2{
    display: block;
    font-size: x-large;
    margin: 0.83em 0;
    font-weight: bold;
}
.tt-h3{
    display: block;
    font-size: larger;
    margin: 1em 0;
    font-weight: bold;
}
.tt-h4{
    display: block;
    font-size: medium;
    margin: 1.33em 0;
    font-weight: bold;
}
.tt-h5{
    display: block;
    font-size: 0.83em;
    margin: 1.67em 0;
    font-weight: bold;
}
.tt-h6{
    display: block;
    font-size: 0.67em;
    margin: 2.33em 0;
    font-weight: bold;
}
.tt-div{
    display: block;
    margin: 0;
    padding: 0;
}
.tt-p{
    display: block;
    margin: 1em 0;
}
.tt-span{
    margin: 0;
    padding: 0;
    width: fit-content;
}