/* Styles */
body{
    overflow: scroll;
}
#custom-footer-ad{
    background: white;
    border-radius: 0px 5px 0px 0px;
    box-shadow: 0px 0px 5px black;
    transition: 1s;
}
#custom-footer-adhere{
    background-image: url(https://mnzrch.github.io/SkytoSeeTools/loadingicon.ani);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
}
#custom-footer-ctrl{
    position: fixed;
    margin: -20px 0px 0px 0px;
    padding: 1px 0px 5px 0px;
    font-weight: bold;
    color: black;
    background: white;
    width: 40px;
    text-align: center;
    -webkit-text-stroke: thick;
    cursor: not-allowed;
    border-radius: 5px 5px 0px 0px;
}
#custom-footer-ctrl-shadow{
    position: fixed;
    background: white;
    width: 40px;
    height: 19px;
    margin: -18px 0px 0px -1px;
    box-shadow: 2px -2px 5px black;
    border-radius: 5px 5px 0px 0px;
}
@media (width: 400px) {
    #custom-footer-ad{
        overflow-y: scroll;
    }
    
}
