
/* border... */
.border-0{
    border: 0px;
}
.border-1{
    border: 1px;
}
.border-2{
    border: 2px;
}
.border-3{
    border: 3px;
}
.border-4{
    border: 4px;
}
.border-5{
    border: 5px;
}
.border-6{
    border: 6px;
}
.border-7{
    border: 7px;
}
.border-8{
    border: 8px;
}
.border-9{
    border: 9px;
}
.border-10{
    border: 10px;
}
.border-11{
    border: 11px;
}
.border-12{
    border: 12px;
}
.border-13{
    border: 13px;
}
.border-14{
    border: 14px;
}
.border-15{
    border: 15px;
}
.border-16{
    border: 16px;
}
.border-17{
    border: 17px;
}
.border-18{
    border: 18px;
}
.border-19{
    border: 19px;
}
.border-20{
    border: 20px;
}
.border-21{
    border: 21px;
}
.border-22{
    border: 22px;
}
.border-23{
    border: 23px;
}
.border-24{
    border: 24px;
}
.border-25{
    border: 25px;
}
.border-26{
    border: 26px;
}
.border-27{
    border: 27px;
}
.border-28{
    border: 28px;
}
.border-29{
    border: 29px;
}
.border-30{
    border: 30px;
}
.border-31{
    border: 31px;
}
.border-32{
    border: 32px;
}
.border-33{
    border: 33px;
}
.border-34{
    border: 34px;
}
.border-35{
    border: 35px;
}
.border-36{
    border: 36px;
}
.border-37{
    border: 37px;
}
.border-38{
    border: 38px;
}
.border-39{
    border: 39px;
}
.border-40{
    border: 40px;
}
.border-41{
    border: 41px;
}
.border-42{
    border: 42px;
}
.border-43{
    border: 43px;
}
.border-44{
    border: 44px;
}
.border-45{
    border: 45px;
}
.border-46{
    border: 46px;
}
.border-47{
    border: 47px;
}
.border-48{
    border: 48px;
}
.border-49{
    border: 49px;
}
.border-50{
    border: 50px;
}
.border-51{
    border: 51px;
}
.border-52{
    border: 52px;
}
.border-53{
    border: 53px;
}
.border-54{
    border: 54px;
}
.border-55{
    border: 55px;
}
.border-56{
    border: 56px;
}
.border-57{
    border: 57px;
}
.border-58{
    border: 58px;
}
.border-59{
    border: 59px;
}
.border-60{
    border: 60px;
}
.border-61{
    border: 61px;
}
.border-62{
    border: 62px;
}
.border-63{
    border: 63px;
}
.border-64{
    border: 64px;
}
.border-65{
    border: 65px;
}
.border-66{
    border: 66px;
}
.border-67{
    border: 67px;
}
.border-68{
    border: 68px;
}
.border-69{
    border: 69px;
}
.border-70{
    border: 70px;
}
.border-71{
    border: 71px;
}
.border-72{
    border: 72px;
}
.border-73{
    border: 73px;
}
.border-74{
    border: 74px;
}
.border-75{
    border: 75px;
}
.border-76{
    border: 76px;
}
.border-77{
    border: 77px;
}
.border-78{
    border: 78px;
}
.border-79{
    border: 79px;
}
.border-80{
    border: 80px;
}
.border-81{
    border: 81px;
}
.border-82{
    border: 82px;
}
.border-83{
    border: 83px;
}
.border-84{
    border: 84px;
}
.border-85{
    border: 85px;
}
.border-86{
    border: 86px;
}
.border-87{
    border: 87px;
}
.border-88{
    border: 88px;
}
.border-89{
    border: 89px;
}
.border-90{
    border: 90px;
}
.border-91{
    border: 91px;
}
.border-92{
    border: 92px;
}
.border-93{
    border: 93px;
}
.border-94{
    border: 94px;
}
.border-95{
    border: 95px;
}
.border-96{
    border: 96px;
}
.border-97{
    border: 97px;
}
.border-98{
    border: 98px;
}
.border-99{
    border: 99px;
}
.border-100{
    border: 100px;
}
/* border style... */
.bs-dashed{
    border-style: dashed;
}
.bs-dotted{
    border-style: dotted;
}
.bs-double{
    border-style: double;
}
.bs-groove{
    border-style: groove;
}
.bs-hidden{
    border-style: hidden;
}
.bs-inherit{
    border-style: inherit;
}
.bs-initial{
    border-style: initial;
}
.bs-inset{
    border-style: inset;
}
.bs-none{
    border-style: none;
}
.bs-outset{
    border-style: outset;
}
.bs-ridge{
    border-style: ridge;
}
.bs-unset{
    border-style: unset;
}
.bs-solid{
    border-style: solid;
}
/* border color... */
.bc-aliceblue{
    border-color: aliceblue;
}
.bc-antiquewhite{
    border-color: antiquewhite;
}
.bc-aqua{
    border-color: aqua;
}
.bc-aquamarine{
    border-color: aquamarine;
}
.bc-azure{
    border-color: azure;
}
.bc-beige{
    border-color: beige;
}
.bc-bisque{
    border-color: bisque;
}
.bc-black{
    border-color: black;
}
.bc-blanchedalmond{
    border-color: blanchedalmond;
}
.bc-blue{
    border-color: blue;
}
.bc-blueviolet{
    border-color: blueviolet;
}
.bc-brown{
    border-color: brown;
}
.bc-burlywood{
    border-color: burlywood;
}
.bc-red{
    border-color: red;
}